<section id="slider_section">
    <div class="container">
      <div class="links">
        <ul>
          <li><a href="#" data-slide="0">UI Automation</a></li>
          <li><a href="#" data-slide="1">UX Research</a></li>
          <li><a href="#" data-slide="2">Web Scripting</a></li>
          <li><a href="#" data-slide="3">Interface Design</a></li>
          <li><a href="#" data-slide="4">Prototyping</a></li>
          <li><a href="#" data-slide="5">Devops</a></li>
          <li><a href="#" data-slide="6">AI Marketing</a></li>
        </ul>
      </div>
      <div class="carousel-demo"></div>
    </div>
  </section>
  