<section class="fRow fCenter logo-track">
    <figure class="fCol">
      <figcaption class="scrollerFigcaption">HTML</figcaption>
      <img class="images" src="png/html5.png" alt="HTML Icon">
    </figure>
    <figure class="fCol">
      <img src="png/react.png" alt="React Icon">
      <figcaption class="scrollerFigcaption">React</figcaption>
    </figure>
    <figure class="fCol">
      <figcaption class="scrollerFigcaption">CSS</figcaption>
      <img src="png/css3.png" alt="CSS Icon">
    </figure>
    <figure class="fCol">
      <img src="png/figma.png" alt="Figma Icon">
      <figcaption class="scrollerFigcaption">Figma</figcaption>
    </figure>
    <figure class="fCol">
      <figcaption class="scrollerFigcaption">JavaScript</figcaption>
      <img src="png/javascript.png" alt="JavaScript Icon">
    </figure>
    <figure class="fCol">
      <img src="png/typescript.png" alt="TypeScript Icon">
      <figcaption class="scrollerFigcaption">TypeScript</figcaption>
    </figure>
  </section>
  
