/* COLOR PALETTE */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-dark-color: #10121A;
    --background-dark-grey: #191D2B;
    --background-color: #FFF;
    --blog-border: silver;
    --article-links-secondary: tomato;
    --spacing-unit: 10px;
    --font-family: Arial, Helvetica, sans-serif;
    --line-height: 1;
    --double-line-height: 2;
    --section-color-1: rgb(240, 237, 237);
    --section-color-2: white;
    --transition-duration: 0.5s;
    --scale: 1;
    --scale-hover: 1.1;
}

/* TYPOGRAPHY */
h1,
h2,
p {
    font-size: medium;
}

h2 {
    font-size: larger;
}

a {
    text-decoration: none;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--font-weight-bold);
    font-style: normal;
}

/* BASE MARGIN, PADDING */
.pad10,
.pad5 {
    padding: 10px;
}

.mar10,
.mar5 {
    margin: 10px;
}

/* SEMANTIC */
body {
    color: var(--primary-color);
    background-color: var(--background-color);
    font-family: var(--font-family);
}

p {
    color: var(--background-dark-color);
    padding: 1rem 0;
}

.dark-mode {
    background-color: var(--background-dark-color);
    color: var(--primary-color);
}

section h1 {
    color: var(--secondary-color);
}

#main {
    padding: 1rem;
    z-index: 10 !important;
}

ul {
    color: var(--secondary-color);
}

header ul:not(#exclude) {
    color: var(--article-links-secondary);
}

/* BLOG ARTICLE */
article.articles {
    padding: 0.75em;
    border: 1px solid var(--blog-border);
    margin-bottom: 20px;
    align-items: self-start;
}

article.articles small {
    color: var(--primary-color) !important;
    font-weight: bold;
}

article.articles a:first-child,
article.articles p,
article.articles date {
    color: var(--secondary-color) !important;
}

article.articles a h2 {
    color: var(--secondary-color);
    font-size: 1.25em;
    font-weight: 600;
}

aside ul li a {
    color: var(--background-color) !important;
    background: var(--primary-color);
    font-size: .85em;
    padding: .5em;
    border-radius: 2px;
}

article.articles figure img {
    max-width: 250px;
    max-height: 150px;
    overflow: hidden;
}

article.articles figure {
    margin: 0.25em;
}

aside section h3 {
    background: var(--background-color);
}

article.articles,
article.articles figure img,
aside,
aside section,
aside section h3 {
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0.95;
}

aside section ul {
    margin-top: var(--spacing-unit);
    line-height: var(--double-line-height);
}

aside section ul li a {
    font-size: .85em;
    overflow: hidden;
}

.aa,
.bb {
    background: var(--section-color-1) !important;
}

li.bb,
li.aa {
    padding-left: calc(var(--spacing-unit) / 2);
}

li.aa:hover,
li.bb:hover {
    background: var(--secondary-color) !important;
}

li.aa:hover a,
li.bb:hover a {
    color: var(--background-color) !important;
}

.logo {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

h3.sect-h3 {
    font-size: .875em;
    border-radius: inherit;
    margin-left: -10px;
}

img:hover {
    zoom: 1.0025;
}

footer {
    padding-top: 2em;
    margin-top: 2.25em;
    background-color: var(--background-dark-grey);
    background: linear-gradient(to bottom, var(--secondary-color) 0%, var(--background-dark-grey) 90%);
    color: var(--text-color);
}

section {
    z-index: 11 !important;
    margin-top: 1.5em;
}

nav.nav nav.nav a {
    font-weight: 800;
    color: var(--background-dark-grey);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--spacing-unit) * 3);
    justify-content: space-evenly;
}

.projectCard {
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transform: scale(var(--scale));
    transition: all var(--transition-duration) ease;
}

.projectCard:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(var(--scale-hover));
}

.projectCard img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.projectCard h3,
.projectCard p {
    padding: var(--spacing-unit);
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact form input,
.contact form textarea {
    border: 1px solid var(--accent-color);
    padding: var(--spacing-unit);
}

.contact form input:focus,
.contact form textarea:focus {
    border-color: var(--secondary-color);
    outline: none;
}

/* BUTTONS */
.button {
    background-color: var(--primary-color);
    color: var(--background-dark-grey);
    border: none;
    padding: var(--spacing-unit);
    margin: var(--spacing-unit);
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    transition: background-color 0.4s;
    width: 85%;
}

.button:hover {
    background-color: var(--background-dark-color);
    color: var(--primary-color);
}

input:focus {
    background-color: var(--background-dark-grey);
    border: var(--blog-border);
}

button.prev,
button.next {
    width: auto;
    height: auto;
}

button.prev:first-child {
    background: var(--background-color) !important;
}

/* CARDS */
.card {
    align-items: flex-start;
    border: 1px solid var(--background-color);
    clear: both;
    color: var(--background-dark-color);
    display: flex;
    flex-direction: row;
    margin-bottom: .5rem;
    overflow: hidden;
    text-decoration: none;
    transition: .4s;
}

.card .imageMedia {
    flex-shrink: 0;
    line-height: 0;
    position: relative;
}

.imageMedia img {
    display: block;
    object-fit: cover;
    width: 100%;
}

.alighRight {
    text-align: right;
}

/* FORM ICONS */
label {
    display: flex;
    flex-direction: column;
    position: relative;
}

label span {
    margin-bottom: 5px;
}

label svg {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    margin-left: -30px;
}

label input[type="text"],
label textarea {
    padding-left: 40px;
    width: 100%;
    box-sizing: border-box;
}

.btn_submit {
    background: #2878C0 !important;
    color: var(--background-color);
    border-radius: 4px;
    padding: 4px;
    font-size: .87em;
    font-weight: 800;
    display: block;
    float: right;
    max-width: 80px;
}

input[type="checkbox"] {
    width: 35px;
    height: 35px;
    margin: 0;
}

.forCheckbox {
    line-height: 35px;
}

/* FOOTER */
footer {
    position: relative;
    text-align: center;
    padding-top: 50px !important;
}

footer::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background-image: url('../jpg/admin.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 5px solid white;
}

@media (max-width: 768px) {
    footer {
        padding-top: 70px;
    }

    footer::before {
        width: 40px;
        height: 40px;
    }
}

/* ZOOM HOVER */
.zoom-hover {
    transition: transform 0.3s ease, fill 0.3s ease;
}

.zoom-hover:hover {
    transform: scale(1.1);
    fill: rgb(109, 37, 125);
}

a.asBlock {
    padding: 6px !important;
}

.frm_h2 {
    color: #7F7D7D;
    text-align: left;
    font-size: 1.5em;
    font-weight: 700;
}

#formSection article {
    padding: 2em;
}

.iconSlider {
    background: linear-gradient(0deg, rgba(217, 217, 217, 0.35) 4.14%, rgba(121, 121, 153, 0.35) 95.63%);
    padding: 2em;
}

.iconSlider img {
    max-width: 120px;
}

/* MEDIA QUERIES */
@media (max-width: 767px) {
    .trimmed-paragraph {
        line-height: 1.25em;
    }

    article.articles figure {
        margin: 0 auto;
    }

    article.articles figure img {
        width: 100% !important;
        min-height: 200px;
    }

    ul#main_nav li a {
        font-size: .85rem;
    }

    ul#footer_links {
        display: grid;
        gap: 1;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }

    ul#footer_links li:nth-child(odd) {
        text-align: left;
        padding-left: 2em;
    }

    ul#footer_links li:nth-child(even) {
        text-align: right;
        padding-right: 2em;
    }

    ul#footer_links a {
        color: rgba(255, 255, 255, 0.63);
        font-size: .85em;
        font-weight: 700;
        min-width: 96px;
    }

    form.bb div.aa {
        background: none !important;
    }

    form.bb label {
        display: block;
        width: 100%;
    }

    .form_group {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .form_group label {
        margin-bottom: 10px;
    }

    form {
        padding: 1em;
    }

    .link-list li {
        display: none;
    }

    .link-list li.active {
        display: block;
    }

    form#ai_query_form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
    }

    div#breadcrumb * {
        padding: 0;
        margin: 0;
    }

    #slider_section {
        padding: 10px !important;
    }
}

@media (min-width: 767px) {
    article.articles figure img {
        min-height: 250px;
    }

    footer {
        background: var(--background-dark-grey) !important;
        color: var(--text-color);
    }
}

/* ADDITIONAL STYLES */
.no-margin-top {
    margin-top: 0 !important;
}

.leftCol,
.midCol,
.rightCol {
    border: 1px solid gray;
    padding: 10px;
}

.midCol {
    padding: 50px;
}

.offices {
    align-items: baseline;
}

.offices * {
    height: auto;
}

section#ai_query_section {
    margin-top: 1.5em;
}

form#ai_query_form {
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: 1fr 2fr 2fr;
}

ul#footer_links li {
    padding-bottom: .5em;
}

ul#footer_links li a {
    color: rgba(255, 255, 255, 0.63);
    font-size: .85em;
    font-weight: 700;
}