/*
header{ background: #090909; flex-shrink: 0; } */
/* width: 1920px; height: 172px;*/

/*header a:active{ color: #FFF;
 font-family: Inter; font-size: 1.25rem;font-style: normal;font-weight: 516;line-height: normal;}
header ul li a{ border-radius: 2px; background: #1D7DD2; 
 width: 76px; height: 40px; flex-shrink: 0; }
*/

/*background begins */
body {
  margin: 0;
  padding: 0;
}

.background-image {
  width: 100%;
  height: auto;

  min-height: 100px;
  max-width: 100%;
  /* Full viewport height */
  background: url('../png/bg_service_icons.png') white;
  background-position: top;
  background-size: 100% auto;
  /* Scale width to 100% and height auto */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

/* Media queries to adjust only if necessary */
@media (max-width: 1200px) {
  .background-image {

    background-size: contain;
    min-height: 85px !important;
  }
}

@media (max-width: 768px) {
  .background-image {
    background-position: top;
    background-size: contain;
    min-height: 100px !important;
  }
}

@media (max-width: 480px) {
  .background-image {
    background-position: top;
    background-size: contain;
    min-height: 50px !important;
  }

  .blue_bg {
    padding-left: 10px !important;
  }

  header nav a {
    font-size: 0.85em !important;
  }
}

/*background image media query ends*/
.floatR {
  clear: both;
  float: right;
  margin: 1em;
}

.purpleBox {
  color: #7B7373 !important;
  background: #D6D6EC !important;

  font-family: Inter;
  font-size: 1.21em;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.purpleBox:first-child {
  margin-left: -20px;
  padding-left: 0;
}

.purpleBox:first-child h2 {
  margin-left: 0;
  padding-left: 0;
}

article.articles:first-child {
  border-top: 0;
  border-right: 0;
}

.purpleBoxHeading {
  color: #7B7373;
  font-weight: 700;
  padding-bottom: .5em;
  background: none;
  margin-left: 1em;
  padding-top: 1em;
}

.purpleBoxText {
  color: #6A5555;
  padding: 1em;
}

.purpleBoxImage {
  box-shadow: 25px 25px 0px -12px rgba(14, 14, 14, 0.25);
  flex-shrink: 0;
}

/*width: 535px; height: 505px;*/
.grayBox {
  background: #FFF;
  color: #544242;
  font-family: Inter;
  font-size: 1.21em;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.grayBoxHeading {
  font-size: 1.25em;
  font-weight: 700;
  padding-bottom: .5em;
  background: white;
}

.grayBox p,
.purpleBox p {
  padding-left: .75em;
  padding-right: .75em;
}

.slider {
  background: linear-gradient(0deg, #D9D9D9 4.14%, #797999 95.63%);
  flex-shrink: 0;
  /*width: 1920px; height: 818px;*/
}

.slider li.lists {
  width: auto;
  height: 30px;
  overflow: hidden;
}

li.lists a {
  border-radius: 5px;
  background: #2878C0;
  height: 30px;
  text-align: right;
  color: white !important;
  padding: .15em;
}

.scroller {
  background: linear-gradient(0deg, rgba(217, 217, 217, 0.35) 4.14%, rgba(121, 121, 153, 0.35) 95.63%);
  flex-shrink: 0;
  /*width: 1920px; height: 401px; */
}

section#formSection form {
  background: #D6D6EC;
  fill: rgba(217, 217, 217, 0.04);
  opacity: 0.97;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
  margin-top: +20px;
  margin-left: -10px;
}

article.articles:first-child figure {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

input {
  border-radius: 5px;
  border: 1px solid #BCBCBC;
  background: #FFF;
}

#article_section article.articles figure {
  display: flex;
  flex-direction: row;
  align-items: end;
}

#article_section article.articles figure img {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

article.articles a.floatR {
  padding: .2em;
  padding-bottom: 0;
  background-color: royalblue;
  color: white !important;
  border-radius: 2px;
  font-weight: 600;
}

.profile-pic {
  margin: 0 auto;
  max-width: 535px;
  width: 100%;
  height: auto;
}


picture#product-image {
  width: 100%;
  height: 250px;
  /* Adjust height as needed */
  overflow: hidden;
  position: relative;
}

picture#product-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}

.information {
  background: #D6D6EC !important;
  padding-left: 10px;
}

.hello_form {
  border-top: 1 px solid rgba(255, 255, 255, 0.80);

}

form {
  z-index: 100;
}

img {
  z-index: 200;
}

.scrollerFigcaption {
  text-align: center;
  font-size: .5em;
}

section#slider_section {
  margin-top: 0;
  background: linear-gradient(0deg, #D9D9D9 4.14%, #797999 95.63%);
  padding: 20px;
  border-radius: 2px;
}

div.links ul li {
  border-radius: 5px;
  background: #2878C0 !important;
}

/**/
figure.pad10-00000,
figure.pad10 {
  /*width: 100%;
  height: 250px;
   Adjust height as needed */
  overflow: hidden;
  position: relative;
}

/**/
.bgServiceIcons {
  fill: rgba(255, 255, 255, 0.80);
  filter: drop-shadow(0px 8px 4px #2878C0);
  width: 443px;
  height: 31px;
  flex-shrink: 0;
}


/*
figure.pad10-00000 img,
figure.pad10 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}
*/


.bgServiceIcons {
  fill: rgba(255, 255, 255, 0.80);
  filter: drop-shadow(0px 8px 4px #2878C0);
  width: 443px;
  height: 31px;
  flex-shrink: 0;
}


/*
.aiSupportTextBox{border-radius: 5px;
 border: 1px solid #BCBCBC;
 background: #FFF;}
.aiSupportArea{ background: #DCDCDC; 
 width: 1227.414px; height: 446.852px; flex-shrink: 0; } 

.footerContentBg{ fill: rgba(40, 120, 192, 0.26); }
footer{ background: #010101; 
 width: 1921px; height: 252px; flex-shrink: 0; }

.contactPageCTA{ background: linear-gradient(180deg, 
	rgba(217, 217, 217, 0.32) 90.7%, rgba(115, 115, 115, 0.32) 94.77%); } 

.contactCTAbtn{ border-radius: 9px; border: 2px solid rgba(0, 0, 0, 0.26);
 background: rgba(226, 158, 184, 0.20); }

.continent{fill: rgba(48, 101, 148, 0.33);}
.citiesQ3{background: rgba(217, 217, 217, 0.51);}
button{ width: 166.135px;
 height: 54px; flex-shrink: 0; }
gray_button{ border-radius: 4px;
 background: rgba(121, 172, 218, 0.85); }
.scroller img{ background: url(<path-to-image>) lightgray 50% / cover no-repeat;
 width: 328px; height: 328px; flex-shrink: 0; }
 
 */

.header_bg_bottom1 {
  background: url('../png/bg_service_icons.png') white;
  background-position: center calc(50% + 0px);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  z-index: 10;

}

.other_elementother_element {
  position: relative;
  z-index: 1;
}

.blue_bg {
  border-radius: 2px;
  background: #1D7DD2 !important;
  padding: 5px;
}

header a {
  color: whitesmoke !important;
}

article.information:before{
  background: url(../png/form-bg-man-1.png) lightgray 50% / cover no-repeat;
  width: 416.088px;
height: 425.726px;
transform: rotate(-104.597deg);
flex-shrink: 0;
}