/* LAYOUT */
header,
header nav,
main,
footer {
    display: grid;
    gap: 1em;
}

header {
    grid-template-columns: 1fr;
}

header nav {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

main {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

footer {
    grid-template-columns: 2fr;
    justify-content: center;
}


/**/



/**/

/* LAYOUT - helper classes 
.fRow { display: flex; flex-direction: row; }
.fCol { display: flex; flex-direction: column; }*/




/* Media Queries */
@media only screen and (max-width: 600px) {
    div.container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
      
    }

    main {
        display: grid ;
        grid-template-columns: 1fr !important;
        gap: 1em;
        margin: 0 auto !important;
        max-width: 800px !important;
    }

    aside {
        width: 100%;
    }

    footer {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    div.container {
        display: grid;
        grid-template-columns: 2fr 5fr;
        gap: 1em;
        align-items: start;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        align-items: start;
    }
}

@media (max-width: 768px) {
    nav {
        grid-template-columns: 1fr;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .navbar-links ul li {
        text-align: center;
        margin: 10px 0;
    }
    div.container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1em;
        align-items: start;
    }
}