<nav class="navbar disco-nav">
  <div class="container-fluid">
    <div class="navbar-brand">Your Logo</div>
    <ul class="navbar-nav main-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item more-dropdown">
        <a class="nav-link" href="#" id="moreDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          More <i class="bi bi-three-dots"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="moreDropdown">
          <li><a class="dropdown-item" href="#">Contact</a></li>
          <li><a class="dropdown-item" href="#">Blog</a></li>
          <li><a class="dropdown-item" href="#">Careers</a></li>
        </ul>
      </li>
    </ul>
    <div class="breadcrumb-dropdown-container">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="breadcrumbDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
        ...
      </button>
      <ol class="breadcrumb dropdown-menu" aria-labelledby="breadcrumbDropdownButton">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Current Page</li>
      </ol>
    </div>
  </div>
</nav>
