<nav class="navbar disco-nav">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">Best Bye !</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" [routerLink]="['/']">Home</a></li>
      <li><a class="dropdown-item" [routerLink]="['/all-products']">All Products</a></li>
      <li>
        <select class="form-select" (change)="onCategoryChange($event)">
          <option value="">Select a Category...</option>
          <option value="TVs">TVs</option>
          <option value="Computers">Computers</option>
          <option value="Appliances">Appliances</option>
        </select>
      </li>
    </ul>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/all-products']">All Products</a>
        </li>
        <li class="nav-item">
          <!--select class="form-select" (change)="onCategoryChange($event.target?.value)">
            <option value="">Select a Category...</option>
            <option value="TVs">TVs</option>
            <option value="Computers">Computers</option>
            <option value="Appliances">Appliances</option>
          </select-->

          <select class="form-select" (change)="onCategoryChange($event)">
            <option value="">Select a Category...</option>
            <option value="TVs">TVs</option>
            <option value="Computers">Computers</option>
            <option value="Appliances">Appliances</option>
          </select>


        </li>
      </ul>

      <div class="navbar-brand">Your Logo</div>
      <ul class="navbar-nav main-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item more-dropdown">
          <a class="nav-link" href="#" id="moreDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More <i class="bi bi-three-dots"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="moreDropdown">
            <li><a class="dropdown-item" href="#">Contact</a></li>
            <li><a class="dropdown-item" href="#">Blog</a></li>
            <li><a class="dropdown-item" href="#">Careers</a></li>
          </ul>
        </li>
      </ul>
      <div class="breadcrumb-dropdown-container">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="breadcrumbDropdownButton"
          data-bs-toggle="dropdown" aria-expanded="false">
          ...
        </button>
        <ol class="breadcrumb dropdown-menu" aria-labelledby="breadcrumbDropdownButton">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Current Page</li>
        </ol>
      </div>
    </div>
</nav>